/*ESTILOS PARA INICIAR SESIÓN */
.seccion-iniciar-sesion{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 40px auto;
  padding: 20px;
}

#form-inicio-sesion{
  display: flex;
  flex-direction: column;
  gap: 8px
}

#form-inicio-sesion label{
  font-size: 15px;
  font-weight: 600;
  color: var(--color-texto);
}

#form-inicio-sesion input{
  padding: 15px;
  border: 1.5px solid #363232;
  border-radius: 10px;
  font-size: 15px;
  background: #ffffff;
  margin-bottom: 8px;
}

#form-inicio-sesion input:focus{
  outline: none;
  border-color: var(--color-primario);
}

.resetPassword{
  font-size: 15px;
  color: var(--color-primario);
  margin-bottom: 12px;
  font-weight: 700;
}

#form-inicio-sesion button{
  padding: 14px;
  background: var(--color-primario);
  color: #ffffff;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
  width:100%;
}

#form-inicio-sesion button:hover{
  background: #1a7abf;
}

.registrarse{
  text-align: center;
  font-size: 15px;
  color: var(--color-texto);
  margin-top: 10px;
}

.registrarse a{
  color: var(--color-primario);
  font-weight: 600;
}