<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/inicio-sesion.css">
    <link rel="stylesheet" href="../lib/FontAwesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/Logo.jpg">
    <title>Inicia Sesión</title>
</head>
<body>

    <section class="seccion-iniciar-sesion">
        <h2>Inicia Sesión</h2>
        <form id="form-inicio-sesion">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" required>
            <a href="#" class="forgot">¿Olvidaste tu contraseña?</a>
            <button type="submit">Ingresar</button>
            <br>
            <p class="register">¿Primera vez aquí? <a href="#">Regístrate</a></p>
        </form>

    </section>
    
</body>
</html>