<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/mensajes-cliente.css">
    <link rel="stylesheet" href="../lib/FontAwesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/Logo.jpg">
    <title>Mensajes</title>
</head>
<body>
    <nav class="navbar">
        <a href="main-cliente.html"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="solicitudes-cliente.html"><i class="fa-solid fa-file-lines"></i> Solicitudes</a>
        <a href="mensajes-cliente.html"><i class="fa-solid fa-message"></i> Mensajes</a>
        <a href="notificaciones-cliente.html"><i class="fa-solid fa-bell"></i> Alertas</a>
        <a href="perfil-cliente.html"><i class="fa-solid fa-user"></i> Perfil</a>
    </nav>

    <section class="seccion-mensajes">

        <h2>Mensajes</h2>

        <div class="tarjeta-mensaje">
            <div class="avatar-mensaje">
                <i class="fa-solid fa-user"></i>
                <span class="badge-mensaje">2</span>
            </div>
            <div class="info-mensaje">
                <div class="mensaje-encabezado">
                    <p class="nombre-contacto">Carlos Rodríguez</p>
                    <span class="hora-mensaje">10:30 AM</span>
                </div>
                <p class="ultimo-mensaje">¿A qué hora puedo ir mañana?</p>
            </div>
        </div>

        <div class="tarjeta-mensaje">
            <div class="avatar-mensaje">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="info-mensaje">
                <div class="mensaje-encabezado">
                    <p class="nombre-contacto">María González</p>
                    <span class="hora-mensaje">Ayer</span>
                </div>
                <p class="ultimo-mensaje">Perfecto, nos vemos entonces</p>
            </div>
        </div>

    </section>
</body>
</html>