<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/perfil-cliente.css">
    <link rel="stylesheet" href="../lib/FontAwesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/Logo.jpg">
    <title>Perfil</title>
</head>
<body>
    <nav class="navbar">
        <a href="main-cliente.html"><i class="fa-solid fa-house"></i> Inicio</a>
        <a href="solicitudes-cliente.html"><i class="fa-solid fa-file-lines"></i> Solicitudes</a>
        <a href="mensajes-cliente.html"><i class="fa-solid fa-message"></i> Mensajes</a>
        <a href="notificaciones-cliente.html"><i class="fa-solid fa-bell"></i> Alertas</a>
        <a href="perfil-cliente.html"><i class="fa-solid fa-user"></i> Perfil</a>
    </nav>

    <!-- ENCABEZADO PERFIL -->
    <div class="encabezado-perfil">
        <div class="avatar-perfil">LS</div>
        <h3 class="nombre-perfil">Laura Sánchez</h3>
        <p class="rol-perfil">Cliente</p>
    </div>

    <!-- OPCIONES -->
    <section class="seccion-perfil">

        <a href="editar-perfil.html" class="opcion-perfil">
            <div class="opcion-icono azul">
                <i class="fa-solid fa-file-lines"></i>
            </div>
            <p>Editar perfil</p>
            <i class="fa-solid fa-chevron-right flecha"></i>
        </a>

        <a href="sugerencias.html" class="opcion-perfil">
            <div class="opcion-icono azul">
                <i class="fa-solid fa-message"></i>
            </div>
            <p>Sugerencias</p>
            <i class="fa-solid fa-chevron-right flecha"></i>
        </a>

        <a href="denuncias.html" class="opcion-perfil">
            <div class="opcion-icono rojo">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <p>Denuncias</p>
            <i class="fa-solid fa-chevron-right flecha"></i>
        </a>

        <a href="inicio-sesion.html" class="opcion-perfil cerrar-sesion">
            <div class="opcion-icono rojo">
                <i class="fa-solid fa-right-from-bracket"></i>
            </div>
            <p>Cerrar sesión</p>
        </a>

    </section>
</body>
</html>